AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: true
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
ColumnLimit: 80
EmptyLineAfterAccessModifier: Always
FixNamespaceComments: false
IndentWidth: 4
IndentWrappedFunctionNames: true
PackConstructorInitializers: NextLine
SpaceBeforeParens: ControlStatementsExceptControlMacros
Standard: c++20
